.spinner {
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #ebebeb;
  border-right: 1px solid black;
  border-radius: 50%;
  animation: spin 1000ms linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
